<header class="cabecalho">
    <img src="/assets/logo.png" class="logo" alt="Logo da Indexa">
    @if(!telaInicial()) {
      <div class="link">
        <button routerLink="/lista-contatos">
          <img class="seta" src="assets/arrow-left.png" alt="Ícone de seta para voltar">
          Voltar
        </button>
      </div>
    }
    <img [src]="bannerSrc()" class="banner" alt="">
    <h1
      [ngClass]="telaInicial() ? 'titulo' : 'titulo-form'"
      [innerHTML]="titulo()">
    </h1>
</header>
